body {
    margin: 0 auto;
    font-family: 'Oswald', sans-serif;
}

/* -- Home Page --  */
#homeHeader section {
    display: grid;
    grid-template-columns: 14fr 7.5fr 3fr 19fr 2fr 1fr 7.5fr 14fr;
    grid-template-rows: 23.3vh 6vh 0vh;
    grid-template-areas:
        ". . . . . . . ."
        ". Logo . Title . . Nav ."
        ". Name Name Name Name . Nav .";
}
header {
    color: #0C0C0C;
    box-shadow: 2px 2px 2px solid gray;
    height: 70vh;
    display: grid;
    grid-template-rows: 98% 2%;
}
header img {
    width: 13.5vw;
    grid-area: Logo;
    align-self: start;
}
header p {
    font-size: 3.9vw;
    align-self: center;
    padding-top: 5vh;
    grid-area: Title;
}
header h1 {
    font-size: 7vw;
    grid-area: Name;
}
#downArrow {
    margin-top: 5vh;
    display: grid;
    justify-items: center;
}
#downArrow img {
    width: 10vw;
    animation-name: fadeIn;
    animation-duration: 2s;
}
#downArrow p {
    animation-name: fadeIn;
    animation-duration: 2s;
}
nav a {
    text-decoration: none;
    color: #0C0C0C;
    font-size: 3vw;
    transition: ease 0.3s;
}
nav a:hover {
    font-weight: bold;
    transform: scale(1.2);
}
nav {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: right;
    grid-area: Nav;
}
#firstSection {
    display: grid;
    justify-items: center;
    margin-top: 30vh;
}
#contentSentence {
    font-size: 2.4vw;
    font-weight: bolder;
    display: grid;
    justify-self: center;
    margin-top: 15vh;
}
#first {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 95% 5%;
    grid-template-areas:
        "paragraph portrait1"
        "paragraph email";
    justify-items: center;
    align-items: end;
}
#first a {
    text-decoration: none;
    color: #00034A
}
#first a:hover {
    font-weight: bold;
}
#introParagraph {
    width: 35vw;
    grid-area: paragraph;
}
#portrait { 
    width: 21vw;
    grid-area: portrait1;
    align-self: start;
}
#first div { 
    display: flex;
    justify-items: center;
    align-items: center;
    font-size: 1.5vw;
    color: #00034A;
    grid-area: email;
}
#first p {
    padding-left: 0.7vw;
    transition: ease 0.3s;
}
#first p:hover {
    transform: scale(1.05);
}
#firstEmail {
    width: 3.2vw;
    transition: ease 0.5s;
}
#firstEmail:hover {
    transform: scale(1.2);
}
#second {
    margin-top: 20vh;
    font-size: 1.7vw;
    color: #00034A;
    display: grid;
    grid-template-columns: 30fr 35fr 30fr;
    column-gap: 5vw;
}
#second a {
    display: grid;
    justify-items: center;
    text-decoration: none;
    color: #00034A;
    background-color: #F6F6F6;
    box-shadow: 0px 2px 5px rgb(80, 80, 80);
    border-radius: 30px;
    transition: ease 0.3s;
}
#second a:hover {
    transform: scale(1.1) translate(0, -10px);
    font-weight: bold;
}
#contactButton, #linkedButton {
    padding: 4vh 5vw 0vh 5vw;
}
#instagramButton {
    padding: 4vh 0vw 0vh 0vw;
}
#second img {
    width: 5vw;
}
#third {
    display:grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 5vw;
}
#third button {
    font-family: 'Oswald', sans-serif;
    font-size: 2vw;
    font-weight: bold;
    color: #ffffff;
    background-color: #00034A;
    border: none;
    border-radius: 30px;
    box-shadow: 2px 2px 2px gray;
    display: grid;

    grid-template-columns: 1fr 1fr;
    cursor: pointer;
    transition: ease 0.3s;
}
#third button:hover {
    transform: scale(1.1);
}
#third button a {
    text-decoration: none;
    color: #ffffff;
    transform: translateX(50%);
}
#uxButton {
    padding: 2vh 4.5vw;
}
#webButton {
    padding: 2vh 3vw;
}
#secondSection {
    margin-top: 13vh;
    height: 63.5vh;
    background: #F1A873;
    box-shadow: 2px 2px 10px gray;
    padding-top: 1vh;
}
#secondSection a {
    transition: ease 0.3s;
}
#secondSection a:hover {
    transform: scale(1.05);
}
#line2 {
    height: 0.5vh;
    width: 100%;
    background-color: #ffffff;
}
#secondSection section {
    display: grid;
    justify-items: center;
    align-items: center;
    text-align: center;
    padding-top: 10vh;
}
#secondSection section h2 {
    color: #ffffff;
    font-size: 4vw;
    text-shadow: -1px 3px 4px rgb(107, 106, 106);
}
#secondSection section a {
    font-size: 3vw;
    color: #00034A;
    text-decoration: none;
}
#thirdSection {
    display: grid;
    grid-template-columns:  auto auto;
    justify-items: center;
}
#contactAbout h2, #contactMe h2 {
    font-size: 3vw;
    font-weight: normal;
}
#contactAbout p, #contactMe a {
    font-size: 2vw;
    text-decoration: none;
    color: #00034A;
}
#line3 {
    height: 0.5vh;
    width: 100%;
    background-color: #C5C5C5;
}
#line4 {
    height: 0.5vh;
    width: 100%;
    background-color: #5887FF;
}
#bottomLines {
    display: grid;
    row-gap: 1vh;
}
#freedomLines {
    display: grid;
    grid-template-columns: 45vw auto;
    justify-items: center;
    font-size: 1.5vw;
    color: #00034A;

}
#freedomLines a {
    text-decoration: none;
    color: #00034A;
}

/* -- Web Design Page --  */

#section2  {
    display: grid;
    grid-template-columns: 14fr 2.5fr 4.9fr 7fr 15fr 7.5fr 14fr;
    grid-template-rows: 23.3vh 2vh 4vh 0vh;
    grid-template-areas:
        ". . . . . . . "
        ". Logo Logo . ads Nav ."
        ". . . Web ads Nav ."
        ". . Design Design ads Nav .";
}
#section2 h1, #section2 h2 {
    font-size: 5vw;
}
#AC {
    grid-area: Logo;
}
#section2 h1 {
    grid-area: Web;
}
#section2 h2 {
    grid-area: Design;
    font-size: 7vw;
}
#section2 nav {
    grid-area: Nav;
}
#ads {
    grid-area: ads;
}
#ads img {
    width: 32vw;
}
#lowerHalf {
    display: grid;
    grid-template-columns: 20fr 60fr 20fr;
    grid-template-areas: ". stuff .";
    justify-items: center;
}
#webDesignSection2 {
    grid-area: stuff;
    display: grid;
}
#websiteThumbnails {
    display: grid;
    row-gap: 10vh;
}
#webDesignSection2 h2 {
    margin: 10vh 0 10vh 0;
    font-size: 3vw;
}
#webDesignSection2 img {
    width: 70vw;
}
#webDesignSection2 p {
    font-size: 2vw;
}
#weeJammin {
    box-shadow: 2px 2px 10px rgb(109, 109, 109);
}
#brandingThumbnails {
    display: grid;
    grid-template-columns: auto auto auto;
}
#brandingThumbnails img {
    width: 20vw;
}
#brandingThumbnails div {
    display: grid;
    grid-template-rows: auto auto;
    row-gap: 4vh;
}

/* -- UX Page -- */


#section3  {
    display: grid;
    grid-template-columns: 14fr 2.5fr 4.9fr 7fr 15fr 7.5fr 14fr;
    grid-template-rows: 23.3vh 2vh 4vh 0vh;
    grid-template-areas:
        ". . . . . . . "
        ". Logo Logo . UXlogos Nav ."
        ". . . UX UXlogos Nav ."
        ". . Design Design UXlogos Nav .";
}
#section3 h1, #section3 h2 {
    font-size: 5vw;
}
#AC {
    grid-area: Logo;
}
#section3 h1 {
    grid-area: UX;
}
#section3 h2 {
    grid-area: Design;
    font-size: 7vw;
}
#section3 nav {
    grid-area: Nav;
}
#UXlogos {
    grid-area: UXlogos;
}
#UXlogos img {
    width: 37vw;
}
#UXsection {
    grid-area: stuff;
    display: grid;
}
#UXsection h2 {
    margin: 10vh 0 10vh 0;
    font-size: 3vw;
}
#prototypeAB {
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 3vw;
}
.UXarticleThumbnail {
    width: 60vw;
}
#prototypeThumbnail {
    width: 39vw;
}
#ABtestThumbnail {
    width: 16.6vw;
}

/* -- Contact Menu -- */

#contactMenu {
    max-width: 40vw;
}
#contactHeader {
    background-color: #00034A;
    color: #ffffff;
    font-size: 2.3vw;
    display: grid;
    justify-self: center;
}
#contactHeader h2 {
    padding-left: 2vw;
}
#contactMenuGrid input {
    height: 5vh;
    width: 15vw;
    padding-left: 1vw;
}
.formInput, #textBox {
    background: #E7E7E7;
    box-shadow: inset 0px 1px 4px gray;
    font-family: 'Oswald', sans-serif;
}
#contactMenuGrid {
    display: grid;
    font-size: 1.2vw;
    align-items: center;
    justify-items: center;
    grid-template-columns: 12fr 2fr 4fr 12fr;
    grid-template-rows: repeat(auto, 7);
    grid-template-areas:
        ". formName nameBox ."
        ". formEmail emailBox ."
        ". formNumber numberBox ."
        ". formMessage formMessage ."
        ". textBox textBox ."
        ". submit submit .";
    column-gap: 1vw;
}
#formName { grid-area: formName;}
#formEmail { grid-area: formEmail;}
#formNumber { grid-area: formNumber;}
#formMessage { 
    grid-area: formMessage;
    justify-self: start;
}
#nameBox { grid-area: nameBox;}
#emailBox { grid-area: emailBox;}
#numberBox { grid-area: numberBox;}
#textBox {
    height: 9vh;
    width: 18.5vw;
    grid-area: textBox;
    justify-self: start;
    background: #E7E7E7;
    box-shadow: inset 0px 1px 4px gray;
}
#submit {
    margin: 2vh 2vw;
    grid-area: submit;
    background-color: #00034A;
    color: #ffffff;
    font-family: 'Oswald', sans-serif;
    transition: ease 0.5s;
}
#submit:hover {
    font-weight: bold;
    transform: translate(0px, -2px);
    cursor: pointer;
}
@media screen and (max-width: 600px) {
    header {
        height: 25vh;
    }
    #homeHeader section {
        grid-template-rows: 10.3vh 2vh 0vh;
    }
    #downArrow {
        opacity: 0;
    }
    #firstSection {
        margin-top: 0vh;
    }
    #section2, #section3 {
        grid-template-rows: 10.3vh 1vh 1vh 0vh;
    }
    #adWebsite {
        width: 14vw;
        padding-top: 0.5vh;
    }
    nav a {
        font-size: 3.7vw;
    }
    #introParagraph {
        width: 45vw;
    }
    #portrait {
        width: 28vw;
    }
    #first {
        display: grid;
        grid-template-columns: 50% 60%;
    }
    #first div {
        transform: scale(1.2);
        font-size: 2vw;
    }
    #second {
        grid-template-columns: 1fr;
        column-gap: 0;
        row-gap: 3vh;
        grid-template-rows: auto auto auto;
        transform: scale(1);
        margin-top: 10vh;
    }
    #second a {
        border-radius: 15px;
    }
    #contactButton, #linkedButton {
        padding: 4vh 5vw 0vh 5vw;
    }
    #instagramButton {
        padding: 4vh 3vw 0vh 3vw;
    }
    #second img {
        width: 12vw;
    }
    #second p {
        font-size: 4vw;
    }
    #contentSentence {
        font-size: 6vw;
        margin-top: 10vh;
    }
    #third {
        margin-top: 5vh;
        transform: scale(1.6);
        grid-template-columns: 1fr;
        row-gap: 1vh;
        width: 35vw;
    }
    #third button {
        font-size: 3vw;
    }
    #uxButton {
        padding: 0.5vh 1.5vw;
    }
    #webButton {
        padding: 0.5vh 2.9vw;
    }
    #secondSection {
        height: 20.5vh;
        margin-top: 12vh;
    }
    #secondSection section {
        padding-top: 2vh;
    }
    #secondSection section h2 {
        font-size: 6vw;
    }
    #secondSection section a {
        font-size: 5vw;
    }
    #websiteThumbnails {
        display: grid;
        row-gap: 3vh;
    }
    #brandingThumbnails {
        display: grid;
        grid-template-columns: auto;
        justify-items: center;
        row-gap: 3vh;
        margin-bottom: 3vh;
    }
    #brandingThumbnails img {
        width: 50vw;
    }
    #webDesignSection2 h2, #UXsection h2 {
        font-size: 5vw;
        margin: 5vh 0 5vh 0;
    } 
    #websiteThumbnails p, #UXsection div p {
        font-size: 3.5vw;
    }
    #freedomLines {
        display: grid;
        grid-template-columns: auto;
        font-size: 3.5vw;
    }
    #freedomLines a {
        font-size: 5vw;
    }
    #thirdSection {
        margin: 3vh 0;
    }
    #thirdSection h2, #thirdSection a, #thirdSection p {
        transform: scale(1.5);
    }
    #contactMenu {
        max-width: 80vw;
    }
    #contactMenuGrid input {
        height: 5vh;
        width: 45vw;
        padding-left: 1vw;
    }
    #contactHeader {
        font-size: 4.5vw;
    }
    .formText {
        font-size: 4vw;
    }
    #textBox {
        height: 9vh;
        width: 100%;
    }
}

@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {
    header {
        height: 27vh;
    }
    #homeHeader section {
        grid-template-rows: 10.3vh 2vh 0vh;
    }
    #downArrow {
        margin-top: 12vh;
        opacity: 1;
    }
    #section2, #section3 {
        grid-template-rows: 10.3vh 1vh 1vh 0vh;
    }
    #adWebsite {
        width: 14vw;
        padding-top: 0.5vh;
    }
    #secondSection {
        height: 30.5vh;
        margin-top: 12vh;
    }
    #secondSection section {
        padding-top: 0vh;
    }
    #contactMenu {
        max-width: 60vw;
    }
    #contactMenuGrid input {
        height: 5vh;
        width: 35vw;
        padding-left: 1vw;
    }
    #contactHeader {
        font-size: 3.5vw;
    }
    .formText {
        font-size: 3vw;
    }
    #textBox {
        height: 9vh;
        width: 100%;
    }
    #submit {
        font-size: 2.5vw;
    }
    #webDesignSection2 h2, #UXsection h2 {
        font-size: 5vw;
        margin: 5vh 0 5vh 0;
    } 
    #websiteThumbnails p, #UXsection div p {
        font-size: 3.5vw;
    }
        #contentSentence {
        font-size: 5vw;
        margin-top: 10vh;
    }
    #third {
        margin-top: 5vh;
        transform: scale(1.2);
        grid-template-columns: 1fr;
        row-gap: 1vh;
        width: 35vw;
    }
    #third button {
        font-size: 3vw;
    }
    #introParagraph {
        width: 40vw;
        grid-area: paragraph;
    }
    #portrait { 
        width: 25vw;
        grid-area: portrait1;
        align-self: start;
    }
    #first div { 
        display: flex;
        justify-items: center;
        align-items: center;
        font-size: 2vw;
        color: #00034A;
        grid-area: email;
    }
    #second {
        transform: scale(1.3);
    }
}
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    70% {
        opacity: 0;
        transform: scale(1.2);
    }
    100% {
        opacity: 1;
    }
}